body {
   background: #000000;
   color: #ffffff; 
   font-family: 'Montserrat', sans-serif;
   padding: 0;
   margin: 0;
}
div, p a, img, form, button{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.nav{
    display: flex;
    align-items: center;
    margin-top: 42px;
}
.menu{
    display: flex;
    margin-left: 160px;
}
.menu li{
    font-size: 12px;
    margin-right: 25px;
}
.menu li a{
    color: #ffffff;
    padding: 12px 0;
}
.menu li a.active,
.menu li a:hover {
    border-top: 1px solid #5ddd35;
    border-bottom: 1px solid #5ddd35;
    color: #5ddd35; 
}
.phone{
    font-size:12px;
    margin-left: auto;
    transition: all 0.5s ease;
}
.phone:hover{
    font-size: 22px;
    cursor: pointer;
}
.offer{
    display: flex;
    align-items: center;
    margin-top: 106px;
}
.offer-content h1{
    font-size: 37px;
    font-weight: 900;
}
.offer-content p{
    font-size: 16px;
    font-weight: 200;
    margin-top: 14px;
}
.offer-content a{
   background: #faf04b;
   color: #000000; 
   font-size: 14px;
   font-weight: 900;
   display: block;
   width: 218px;
   text-align: center;
   padding: 17px 0;
   transition: all 0.5s ease;
   margin-top: 35px;
}
.offer-content a:hover{
    background: #eccb2e;
    color: #ffffff;
   
 }
 .triangels{
     background: url('../img/poly.png')
     no-repeat center center;
     width: 380px;
     height: 379px;
     margin-left: auto;
     margin-right: 81px;
 }
 .footer{
     position: fixed;
     bottom: 15px;
 }
 .footer-copy{
     display: flex;
     justify-content: center;
 }